{
  "excel": {
    "path": "./data.xlsx",
    "caption_file": "./caption.xlsx"
  },
  "pages": {
    "access_token": [],
    "page_name": [],
    "page_id": [],
    "act_id": ""
  },
  "token_renew": {
    "app_id": "",
    "app_secret": "",
    "short_token": "",
    "short_token_expires_at": 0,
    "long_user_token": "",
    "long_user_token_expires_at": 0,
    "auto_renew_enabled": false,
    "notify_email": "",
    "last_renew_at": "",
    "last_error": "",
    "last_error_at": ""
  }
}
